<html>
	<head><Title>TOTVS | ECM</title></head>
	<link href="/webdesk/customresources?cid=1&resourceName=assets/global.css" rel="stylesheet" type="text/css">
	<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
	<div align="left">
		<table border="0" cellpadding="0" cellspacing="0">
			<tr><td>
				<img src="/webdesk/customresources?cid=1&resourceName=assets/head_background.gif">
			</td></tr>
		</table>
	</div>
	<br>
	<div align="left">
		<span class="DescrMsgDocto">
			A solicitação de credito ${SOLICITACAO} do cliente ${CODIGO_EMITENTE} -  ${NOME_EMITENTE} foi encaminhada para aprovação.<br> 
			Data de limite concedida:  ${DATA_LIMITE}<br>
			Classe de risco: ${CLASSE} - ${CLASSE_DESCRICAO}
		</span>
	</div>
	</body>
</html>



