<html>
	<head><Title>TOTVS | ECM</title></head>
	<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
	<div align="left">
		<table border="0" cellpadding="0" cellspacing="0">
			<tr><td>
				<img src="http://pinasp02:8080/excel/images/logo_programa.jpg">
			</td></tr>
		</table>
	</div>
	<br>
	<div align="left">
		<span class="DescrMsgDocto">
			Caro colaborador,<br>
			Parabéns, você foi reconhecido por sua ${CARTAO}!<br><br>
			Um dos nossos colegas reconheceu sua atitude no Programa de Reconhecimento, você já sabe quem é? Espere para receber seu cartão em mãos!<br><br>
			Comentarios:<br>
			${VERIFICACAO}<br>
		</span>
	</div>
	<div align="center">
		<img src="${IMAGEM}">
	</div>
	</body>
</html>



