<html>
	<head><Title>TOTVS | ECM</title></head>
	<link href="/webdesk/customresources?cid=1&resourceName=assets/global.css" rel="stylesheet" type="text/css">
	<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
	<div align="left">
		<table border="0" cellpadding="0" cellspacing="0">
			<tr><td>
				<img src="/webdesk/customresources?cid=1&resourceName=assets/head_background.gif">
			</td></tr>
		</table>
	</div>
	<br>
	<div align="left">
		<span class="DescrMsgDocto">
			Caro usu&aacute;rio,<br>
			A solicita&ccedil;&atilde;o ${NUMERO_SOLICITACAO} referente ao processo ${TIPO_PROCESSO} encontra-se ${SITUACAO} conforme detalhes abaixo:<br><br>
			<b>Valor:</b>${VALOR}<br>
			<b>C&oacute;digo:</b>${COD_EMITENTE}<br>
			<b>Fornecedor:</b>${NOME_ABREV}<br>
			<b>Data aprova&ccedil;&atilde;o:</b>${DATA_APROVACAO}<br>
			<b>Data previs&atilde;o pagto:</b>${DATA_PAGAMENTO}<br>
			<b>Narrativa:</b>${DESCRICAO}
		</span>
	</div>
	</body>
</html>



