<html>
	<head><Title>TOTVS | ECM</title></head>
	<link href="/webdesk/customresources?cid=1&resourceName=assets/global.css" rel="stylesheet" type="text/css">
	<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
	<div align="left">
		<table border="0" cellpadding="0" cellspacing="0">
			<tr><td>
				<img src="/webdesk/customresources?cid=1&resourceName=assets/head_background.gif">
			</td></tr>
		</table>
	</div>
	<br>
	<div align="left">
		<span class="DescrMsgDocto">
			Caro colaborador,<br><br>
			O item de estoque <b>${CODIGO_ITEM} - ${DESCRICAO_ITEM}</b> foi efetivado no sistema em <b>${DATA_ITEM}</b>		
		</span>
	</div>
	</body>
</html>



